/*
.intro-card {
    width: auto;     
}
*/
.navbar-component {
    padding-bottom: 125px;
}

.useful-link-list li,
.social-media-list li,
.contact-us-list li{
    cursor: pointer;
}

footer .contact-details-list .list-group-item {
    padding: 0%;
}